QWidget#gameStart{
        background: url(:/img/bg.png) left top no-repeat;
}
QWidget#gameSetting{
        background: url(:/img/bg.png) left top no-repeat;
}
QWidget#gameTitleLabel{
	font: 48px 'Arial';
	color: #a27031;
}
QWidget#gameStart QPushButton{
        background: url(:/img/bigbtn.png) left top no-repeat;
	border: 0px;
	min-width: 218px;
	max-width: 218px;
	width: 218px;
	height: 68px;
	font: 26px 'Arial';
	color: #a27031;
}
QWidget#gameStart QPushButton:pressed {
    background-image: url(:/img/bigbtnpressed.png);
}
QWidget#gameStart QPushButton:checked {
    background-image: url(:/img/bigbtnpressed.png);
}

QWidget#gamePlay{
        background: url(:/img/bgplay.png) left top no-repeat;
}
QWidget#gamePlay QPushButton{
	min-width: 87px;
	max-width: 87px;
	width: 87px;
	min-height: 35px;
	max-height: 35px;
	height: 35px;
	font: 14px 'Arial';
	color: #a8692b;
	border: 0;
}

QWidget#gamePlay QPushButton#exitGameBtn{
        background: url(:/img/exitbtn.png) left top no-repeat;
}

QWidget#gamePlay QPushButton#pauseGameBtn{
        background: url(:/img/pausebtn.png) left top no-repeat;
}


QWidget#gamePlay QPushButton#restartGameBtn{
        background: url(:/img/restartbtn.png) left top no-repeat;
}

QWidget#gamePlay QPushButton#restartGameBtn:pressed{
        background: url(:/img/restartbtnpressed.png) left top no-repeat;
}

QWidget#gamePlay QPushButton#restartGameBtn:checked{
        background: url(:/img/restartbtnpressed.png) left top no-repeat;
}

QWidget#gamePlay QPushButton#exitGameBtn:checked{
        background: url(:/img/exitbtnnpressed.png) left top no-repeat;
}
QWidget#gamePlay QPushButton#exitGameBtn:pressed{
        background: url(:/img/exitbtnpressed.png) left top no-repeat;
}

QWidget#gamePlay QPushButton#pauseGameBtn:checked{
        background: url(:/img/pausebtnnpressed.png) left top no-repeat;
}
QWidget#gamePlay QPushButton#pauseGameBtn:pressed{
        background: url(:/img/pausebtnpressed.png) left top no-repeat;
}


Widget#gamePlay QLabel#timerGame{
	font: bold 12px 'Arial';
	color: #000000;
}





